*{
    padding: 0;
    margin: 0;
}


nav{
    display: flex;
    justify-content: space-between;
}
.header{
    margin-left: 10%;
}
.nav-ul{
    display: flex;
    list-style: none;  
    margin-right: 15%;  
}
.nav-item{
    margin: 5%;
}
.nav-item:hover{
    color: darkgreen;
}

#navbar{
    color: white;
}

#start-page{
    background-color: rgb(158, 239, 77);
}
/* ____________________________________________ */

.slogan{
    padding-top: 11%;
    padding-left: 12%;
}
.home-img{
    width: 100%;
}
.sloga-header{
    font-family: 'Montserrat',serif;
}

#home{
    padding: 8% 10%;
}
/* _____________________________________________ */

#schemes{
    background-color: rgb(158, 239, 77);
    padding: 2% 10%;
}

.schemes-header{
    text-align: center;
    color: white;
    padding-bottom: 2%;
}

/* ___________________________________________________ */

#laws{
    padding: 2% 10%;
}

.law-header{
    text-align: center;
    padding-bottom: 2%;
}

.card-color{
    color: floralwhite;
    background-color: rgb(158, 239, 77);
}

/* _________________________________________________ */

#education{
    background-color: rgb(158, 239, 77);
    padding: 2% 10%;
}

.education-header{
    text-align: center;
    color: white;
    padding-bottom: 2%;
}

.edu-card{
    justify-content: center;
}
.card-title{
    text-align: center;
}
